node_modules
coverage
dist
umd
.eslintcache
LICENSE_DEPENDENCIES
LICENSE_DEPENDENCIES_ALL
docs/api/build/
docs/api/source/api/
docs/api/docs-assets/
docs/dist/
**/.DS_Store
**/.env*.local
.cache
test-results
